#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk


#binary-install/mimon::
pre-build::
	docbook-to-man ./debian/cimond.sgml > ./debian/cimond.1

build:
	./build.sh
